@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  * {
    @apply border-background-secondary;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-navy-800 font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display text-navy-900;
  }

  a {
    @apply transition-colors;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
